.portfolio-container {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(245, 245, 220, 0.301),
        rgba(245, 245, 220, 0)),
        url(../img/light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: relative;    
}

.portfolio-wrapper--flex {
    margin-top: 0rem;
    margin-right: 30rem;
    width: 70vw;
    padding: 1rem;
    padding-top: 15rem;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-wrapper--flex > .portfolio-card--flex {
    margin: 1rem;
}

.portfolio-card--flex {
    width: 16rem;
}

.portfolio-features {
    position: fixed;
    margin: 2rem 3rem;
    right: 0;
}

.about-container > center > .section-heading {
    margin: 0rem;
    font-size: xx-large;
    margin-top: 0rem;
    font: arial;
    display: right;
    color: rgb(255, 254, 254);
    padding-left: 50rem;
}

.about-container {
    background-color: black;
}

.about-container > h2 {
    color: white;
    position: center;
}

.col-md-6 > p {
    color: white;
}

.col-md-6 > h2 {
    color: white;
    position: relative;
}

.home-container {
    height: 100vh;
    padding-top: 55rem;
    background-image: linear-gradient(
        to bottom,
        rgba(245, 245, 220, 0.301),
        rgba(245, 245, 220, 0)),
        url(../img/nobaddays.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-position: relative;
}

.home-container > center > h1 {
    color: white;
    position: center;
    position: relative;
}

*{
    box-sizing: border-box;
}
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}
  
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}


