.portfolio-container {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(245, 245, 220, 0.301),
        rgba(245, 245, 220, 0)),
        url(../img/light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: relative;    
}

.portfolio-wrapper--flex {
    margin-top: 3rem;
    margin-right: 30rem;
    width: 70vw;
    padding: 1rem;
    padding-top: 15rem;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-wrapper--flex > .portfolio-card--flex {
    margin: 1rem;
}

.portfolio-card--flex {
    width: 16rem;
}

.portfolio-features {
    position: fixed;
    margin: 2rem 3rem;
    right: 0;
}

.about-container > .section-heading {
    margin: 5rem;
    font-size: xx-large;
    margin-top: 15rem;
    font: arial;
    display: center;
    color: white;
}

.about-container {
    background-color: black;
}

.col-md-6 > p {
    color: white;
}
