.background-container {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgb(245, 245, 220),
        rgba(245, 245, 220, 0.062)),
        url(../img/light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: relative;    
}