.background-container {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(245, 245, 220, 0.301),
        rgba(245, 245, 220, 0)),
        url(../img/light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: relative;    
}

.portfolio-wrapper--flex {
    margin-top: 3rem;
    width: 70vw;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-wrapper--flex > .portfolio-card--flex {
    margin: 1rem;
}

.portfolio-card--flex .card {
    width: 16rem;
}